<div class="p-3 mb-2 bg-danger text-white" *ngIf="errorMessage">{{errorMessage}}</div>
<div class="row">
  <div class="col-3" *ngFor="let league of leagues">
    <div class="card">
      <a routerLink="/matches/{{league.id}}"><img src="./assets/images/logos_competitions/{{league.emblemUrl}}" class="card-img-top img-fluid" alt="{{league.name}}"></a>
      <div class="card-body">
        <h5 class="card-title">{{league.name}}</h5>
        <p class="card-text">
          Start Date: {{league.currentSeason.startDate}}<br />
          End Date: {{league.currentSeason.endDate}}
        </p>
        <a routerLink="/matches/{{league.id}}" class="btn btn-primary">Matches</a>
      </div>
    </div>
  </div>
</div>
