<div class="p-3 mb-2 bg-danger text-white" *ngIf="errorMessage">{{errorMessage}}</div>
<div class="row bg-white" *ngIf="details">
  <div class="col-8">
    <h3>{{details.match.competition.name}} <small>{{details.match.matchday}}</small></h3>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <th></th>
          <th class="text-center">{{details.match.homeTeam.name}}</th>
          <th class="text-center">{{details.match.awayTeam.name}}</th>
        </thead>
        <tbody>
          <tr>
            <td>Half fime</td>
            <td class="text-center">{{details.match.score.halfTime.homeTeam}}</td>
            <td class="text-center">{{details.match.score.halfTime.awayTeam}}</td>
          </tr>
          <tr>
            <td>Full fime</td>
            <td class="text-center">{{details.match.score.fullTime.homeTeam}}</td>
            <td class="text-center">{{details.match.score.fullTime.awayTeam}}</td>
          </tr>
          <tr>
            <td>Extra fime</td>
            <td class="text-center">{{details.match.score.extraTime.homeTeam}}</td>
            <td class="text-center">{{details.match.score.extraTime.awayTeam}}</td>
          </tr>
          <tr>
            <td>Venue</td>
            <td colspan="2">{{details.match.venue}}</td>
          </tr>
          <tr>
            <td>Stage</td>
            <td colspan="2">{{details.match.stage}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Head2Head -->
  <div class="col-4">
    <h3>Head to head</h3>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <th>&nbsp;</th>
          <th>{{details.head2head.homeTeam.name}}</th>
          <th>{{details.head2head.awayTeam.name}}</th>
        </thead>
        <tbody>
          <tr>
            <td>Wins</td>
            <td class="text-center">{{details.head2head.homeTeam.wins}}</td>
            <td class="text-center">{{details.head2head.awayTeam.wins}}</td>
          </tr>
          <tr>
            <td>Draws</td>
            <td class="text-center">{{details.head2head.homeTeam.draws}}</td>
            <td class="text-center">{{details.head2head.awayTeam.draws}}</td>
          </tr>
          <tr>
            <td>Losses</td>
            <td class="text-center">{{details.head2head.homeTeam.losses}}</td>
            <td class="text-center">{{details.head2head.awayTeam.losses}}</td>
          </tr>
          <tr>
            <td class="fw-bold">Total Matches</td>
            <td colspan="2">{{details.head2head.numberOfMatches}}</td>
          </tr>
          <tr>
            <td class="fw-bold">Total Goals</td>
            <td colspan="2">{{details.head2head.totalGoals}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <p>{{details.match.id}}</p>
</div>
