
  <h1>Home</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non facilis alias deleniti consequuntur vero vel rem eveniet animi minus et nisi ipsam dolorum molestias accusamus nulla blanditiis, qui similique placeat? Nisi officiis nulla quibusdam, quam amet illum distinctio corporis, deleniti reiciendis labore aliquid officia omnis, placeat illo iusto? Provident, iure?</p>


  <form>
    <div class="col-lg-5">
    <input type="search" name="player" ng-model="searchPlayer" class="form-control" >
    </div>
    <div class="clearfix"></div>
  </form>
  
  <table class="table">
    <thead>
      <tr>
        <th>Player</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="p in players |filter: searchPlayer">
        <td><a href="#/player/{{p.name}}">{{p.name}}</a></td>
        <td>{{p.age}}</td>
      </tr>
    </tbody>
  </table>


  <p><a class="btn btn-primary btn-lg" href="#/games">Competições</a></p>
