.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
  width: 100%;
}
table {
  width: 100%;
}
mat-card {
  border-radius: 0;
  box-shadow: none;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
