<div class="p-3 mb-2 bg-danger text-white" *ngIf="errorMessage">{{errorMessage}}</div>
<div class="table-responsive matchesResults" *ngIf="matches">
  <table class="table table-light table-striped">
    <thead>
      <tr>
        <th scope="col" colspan="4">&nbsp;</th>
        <th scope="col">Status</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let match of matches">
        <td style="text-align: right; width: 30%;"><a routerLink="/teams/{{match.homeTeam.id}}" [ngClass]="match.score.winner == 'HOME_TEAM' ? 'winner' : ''">{{match.homeTeam.name}}</a></td>
        <td>{{match.score.fullTime.homeTeam}}</td>
        <td>{{match.score.fullTime.awayTeam}}</td>
        <td><a routerLink="/teams/{{match.awayTeam.id}}" [ngClass]="match.score.winner == 'AWAY_TEAM' ? 'winner' : ''">{{match.awayTeam.name}}</a></td>
        <td><span class="badge rounded-pill bg-primary">{{match.status}}</span></td>
        <td>
          <!-- Button trigger modal -->
          <a routerLink="/matches/details/{{match.id}}" class="btn btn-primary" data-bs-toggle="modal">Match details</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
