<div class="p-3 mb-2 bg-danger text-white" *ngIf="errorMessage">{{errorMessage}}</div>
<div class="row bg-white" *ngIf="standing">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <th>Position</th>
          <th>Team</th>
          <th>Points</th>
          <th>Played</th>
          <th>Goals for</th>
          <th>Goals against</th>
          <th>Difference</th>
        </thead>
        <tbody>
          <tr *ngFor="let stan of standing.standings[0].table">
            <td>{{stan.position}}</td>
            <td><a routerLink="/teams/{{stan.team.id}}">{{stan.team.name}}</a></td>
            <td>{{stan.points}}</td>
            <td>{{stan.playedGames}}</td>
            <td>{{stan.goalsFor}}</td>
            <td>{{stan.goalsAgainst}}</td>
            <td>{{stan.goalDifference}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
