<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Position </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>
  <ng-container matColumnDef="team">
    <th mat-header-cell *matHeaderCellDef> Team </th>
    <td mat-cell *matCellDef="let element"><a routerLink="/teams/{{element.team.id}}">{{element.team.name}}</a></td>
  </ng-container>
  <ng-container matColumnDef="points">
    <th mat-header-cell *matHeaderCellDef> Points </th>
    <td mat-cell *matCellDef="let element"> {{element.points}}</td>
  </ng-container>
  <ng-container matColumnDef="played">
    <th mat-header-cell *matHeaderCellDef> G </th>
    <td mat-cell *matCellDef="let element"> {{element.playedGames}} </td>
  </ng-container>
  <ng-container matColumnDef="wins">
    <th mat-header-cell *matHeaderCellDef> W </th>
    <td mat-cell *matCellDef="let element"> {{element.won}}</td>
  </ng-container>
  <ng-container matColumnDef="draw">
    <th mat-header-cell *matHeaderCellDef> D </th>
    <td mat-cell *matCellDef="let element"> {{element.draw}} </td>
  </ng-container>
  <ng-container matColumnDef="lost">
    <th mat-header-cell *matHeaderCellDef> L </th>
    <td mat-cell *matCellDef="let element">{{element.lost}}</td>
  </ng-container>
  <ng-container matColumnDef="goalsFor">
    <th mat-header-cell *matHeaderCellDef> GP </th>
    <td mat-cell *matCellDef="let element">{{element.goalsFor}}</td>
  </ng-container>
  <ng-container matColumnDef="goalsAgainst">
    <th mat-header-cell *matHeaderCellDef> GA </th>
    <td mat-cell *matCellDef="let element">{{element.goalsAgainst}}</td>
  </ng-container>
  <ng-container matColumnDef="goalsDifference">
    <th mat-header-cell *matHeaderCellDef> GD </th>
    <td mat-cell *matCellDef="let element">{{element.goalDifference}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
